.header-bg{
  background-color: var(--cor--12);
  position: fixed;
  width: 100%;
}

.header-logo {
  font-size: 30px;
  color: #ffff;
  font-weight: 700;
  line-height: 18px;
}

.header-container{
  display: flex;
  flex-wrap: wrap; /*Quebra de linha para baixo*/
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-menu{
  display: flex;
  flex-wrap: wrap;
  gap: 40px; /*Espaçamento entre itens*/
}

.header-menu a{
  display: inline-block;
  padding: 16px 0px;
  position: relative;
}

/*Sublinhado botões do header*/
.header-menu a:after{
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background-color: var(--cor--0);
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover::after, 
.header-menu a.ativo::after{
  width: 100%;
}

@media(max-width: 800px){
  .header-menu{
    gap: 20px;
  }
  .header-menu a{
    background-color: var(--cor--11);
    padding: 12px 16px;
    border-radius: 4px;
  }
  .header-menu a:hover{
    background-color: var(--cor--10);
  }
  
  .header-container a:after{
    display: none;
  }
}

@media(max-width: 400px){
  .header-menu{
    gap: 12px;
  }
  .header-menu a{
    padding: 8px 12px;
    font-size: 14px;
  }
}

.nav-button {
  border: 0;
  border-radius: 4px;
  padding: 8px;
  background-color: #0065b5;
  margin: 8px;
  cursor: pointer;
}

.nav-button i {
  color: #FFF;
}

.overlay {
  width: 0;
  height: 100%;
  background-color: rgba(0,0,0, 0.9);
  z-index: 9;
  position: fixed;
  left: 0;
  top: 0;
  overflow-x: hidden;
  transition: all 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  color: #818181;
  transition: 0.3s;
}

.font-1-m {
  font-size: 2rem !important;
}

.overlay li {
  padding-bottom: 10px;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 25px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-width: 450px) {
  .overlay a {
    font-size: 36px;
    color: #f1f1f1
  }
  .overlay li {
    padding-bottom: 20px;
  }
  .overlay a:hover, .overlay a:focus {
    color: #818181;
  }
}